<h1>Listing admin_guests</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Lastname</th>
    <th>City</th>
    <th>Has confirmed</th>
    <th>Number of companions</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @admin_guests.each do |admin_guest| %>
  <tr>
    <td><%= admin_guest.name %></td>
    <td><%= admin_guest.lastname %></td>
    <td><%= admin_guest.city %></td>
    <td><%= admin_guest.has_confirmed %></td>
    <td><%= admin_guest.number_of_companions %></td>
    <td><%= link_to 'Show', admin_guest %></td>
    <td><%= link_to 'Edit', edit_admin_guest_path(admin_guest) %></td>
    <td><%= link_to 'Destroy', admin_guest, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Guest', new_admin_guest_path %>
