<h1>Administración</h1>
<div class="four columns">
  <h4>Solicitudes Pendientes (<%= @access_requests.size %>) </h4>
  <% if !@access_requests.blank? %>
    <% for r in @access_requests %>
      <div class="request_row">
        <%= r.name %><br />
        <%= r.email %><br />
        <%= link_to "OK", approve_admin_access_request_path(r) %> | 
        <%= link_to "RJ", reject_admin_access_request_path(r) %> | 
        <%= link_to 'X', r, confirm: 'Seguro que desea eliminar la solicitud?', method: :delete %>
      </div>
    <% end %>
  <% else %>
    
  <% end %>
  
</div>
