<% if flash[:notice] %>
  <div id="myModal" class="reveal-modal small">
    <h3><%= flash[:notice] %></h3>
    <% if flash[:notice] == "Solicitud recibida correctamente." %>
      <p>
        Lo antes posible confirmaremos que puedes acceder a la web y te enviaremos tu contraseña.
        Tu usuario es la cuenta de correo que has usado para hacer la solicitud.
      </p>
    <% end %>
    <a class="close-reveal-modal">&#215;</a>
  </div>
  <script type="text/javascript">$('#myModal').reveal();</script>
<% end %>

<div class="row landing">
  <div class="eight columns offset-by-one">
    <h1 class="landing">Déborah y Pablo</h1>
  </div>
  
  <div class="three columns">
    <h4 class="landing">
      Oleiros, 1 de Diciembre del 2012
    </h4>
  </div>
</div>

<div class="row landing_form">
  
  <div class="three columns offset-by-three box">
    <h4 class="landing">No tengo contraseña:</h4>
    <%= form_for @access_request, url: landing_create_access_request_path do |f| %>
      <%= f.label :name, "Nombre completo:" %>
      <%= f.text_field :name %>
      <%= f.label :email, "Correo electrónico:" %>
      <%= f.text_field :email %>
      <%= f.submit "Enviar", :disable_with => 'Enviando...', :class => "medium radius button right" %>
    <% end %>
  </div>
  <div class="three columns box">
    <h4 class="landing">Acceder a la web:</h4>
    <%= form_for(@user, :as => @user, :url => session_path(@user)) do |f| %>
      <%= f.label :email, "Correo electrónico" %>
      <%= f.email_field :email %>
      <%= f.label :password, "Contraseña" %>
      <%= f.password_field :password %>
      <%= f.submit "Entrar", :disable_with => 'Validando...', :class => "medium radius secondary button right" %>
    <% end %>
  </div>
  <div class="three columns">
    
  </div>
</div>

<div class="row landing_info">
  <div class="two columns offset-by-three box">
    <h1 class="landing">1.</h1>
    <p>
      Rellenar el formulario de arriba con vuestro nombre e email de una de las personas invitadas.
    </p>
  </div>
  <div class="two columns box">
    <h1 class="landing">2.</h1>
    <p>
      En 24/48 horas os haremos llegar vuestra contraseña para entrar en la página.
    </p>
  </div>
  
  <div class="two columns box">
    <h1 class="landing">3.</h1>
    <p>
      Una vez dentro encontraréis toda la información sobre la boda, mapa, horarios, fotos...
    </p>
  </div>
  
  <div class="three columns"> </div>

</div>
