<% if flash[:notice] %>
  <div id="myModal" class="reveal-modal small">
    <h3><%= flash[:notice] %></h3>
    <% if flash[:notice] == "Solicitud recibida correctamente." %>
      <p>
        Lo antes posible confirmaremos que puedes acceder a la web y te enviaremos tu contraseña.
        Tu usuario es la cuenta de correo que has usado para hacer la solicitud.
      </p>
    <% end %>
    <a class="close-reveal-modal">&#215;</a>
  </div>
  <script type="text/javascript">$('#myModal').reveal();</script>
<% end %>

<div class="row landing">
  <div class="eight columns offset-by-one">
    <h1 class="landing">Déborah y Pablo</h1>
  </div>
  <div class="three columns">
    <h4 class="landing">
      Oleiros, 1 de Diciembre del 2012
    </h4>
  </div>
</div>

<div class="row landing_form box">
  <div class="three columns offset-by-three">
    <h3 class="landing">Acceder a la web:</h4>
    <%= form_for(@user, :as => @user, :url => session_path(@user)) do |f| %>
      <%= f.label :email, "Correo electrónico" %>
      <%= f.email_field :email %>
      <%= f.label :password, "Contraseña" %>
      <%= f.password_field :password %>
      <%= f.submit "Entrar", :disable_with => 'Validando...', :class => "medium radius secondary button right" %>
    <% end %>
  </div>
  
  <div class="three columns">
    <h3 class="landing">¿Sin contraseña?.</h1>
    <p>
      ¿Tienes tu invitación pero no contraseña?.<br /> <%= link_to "Pulsa aquí", "#", :id => "access_link" %>, rellena tus datos y te la enviaremos a tu email para que puedas entrar a la página :)
    </p>
  </div>

  <div class="three columns">
    
  </div>
</div>

<div class="row landing_info box">
  <div class="six columns offset-by-three">
    <p class="list_info"> <%= link_to "Ver la Lista de Boda en Zankyou", "http://pabloydeborah.zankyou.com/es" %> </p> 
  </div>
</div>

<div id="access_form" class="reveal-modal medium">
  <div class="row">
    <div class="six columns">
      <h4 class="landing">1. Solicitar a la web:</h4>
     <%= form_for @access_request, url: landing_create_access_request_path do |f| %>
       <%= f.label :name, "Nombre completo:" %>
       <%= f.text_field :name %>
       <%= f.label :email, "Correo electrónico:" %>
       <%= f.text_field :email %>
       <%= f.submit "Enviar", :disable_with => 'Enviando...', :class => "medium radius button right" %>
     <% end %>
    </div>
    <div class="six columns">
      <h4 class="landing">2. Acceso a la página:</h4>
      <p>
        En 24/48 horas os haremos llegar vuestra contraseña para entrar en la página. 
        La intimidad en este día es algo que solo queremos compartir con vosotros e intentaremos que sea un día, que estoy seguro, no vamos a olvidar.
      </p>
    </div>
  </div>
  
  <a class="close-reveal-modal">&#215;</a>
</div>