<div class="row">
  <h3>Hola, <%= @guest.name %></h3>
  <div class="six columns box">
    <% if !@guest.has_confirmed %>
    <p class="info">
      Aun no has confirmado tu asistencia. Pulsa él siguiente botón para confirmar la asistencia. 
      <br />
      <%= link_to "Confirmar Asistencia", home_confirm_guest_path(id: @guest.id), :class => "medium radius success button" %>
      <br />
      De cara a la organización del evento es importante que confirmes tu asistencia lo antes posible.
    </p>
    <% else %>
      <p class="info">
        Gracias. Ya has confirmado la asistencia.
        <br />
        Sin por algún motivo ya no vas a poder asistir, muy a nuestros pesar, puedes usar el siguiente botón para anular tu asistencia.<br />
        <%= link_to "Cancelar Asistencia", home_cancel_guest_path(id: @guest.id), :class => "medium radius alert button" %>
      </p>
    <% end %>  
  </div>

  <div class="five columns offset-by-one box">
    <p class="info">
      Completa o modifica tus datos:
      <%= form_for @guest, :url => home_update_guest_path(id: @guest.id) do |f| %>
        <% if @guest.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@admin_guest.errors.count, "error") %> prohibited this admin_guest from being saved:</h2>
            <ul>
            <% @admin_guest.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

          <%= f.label :name, "Nombre" %>
          <%= f.text_field :name %>


          <%= f.label :city, "Ciudad" %>
          <%= f.text_field :city %>

          <%= f.label :number_of_companions, "Número de acompañantes" %>
          <%= f.number_field :number_of_companions %>

        <div class="actions">
          <%= f.submit "Actualizar", :disable_with => 'Actualizando...', :class => "medium radius button right" %>
        </div>
      <% end %>
    </p>
  </div>

</div>