<div class="row">
  <div class="five columns box">
    <p class="info">
      Confirma tu asistencia introduciendo tu datos:
      <%= form_for @access_request, url: landing_create_access_request_path do |f| %>
        <% if @access_request.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@access_request.errors.count, "error") %> prohibited this admin_guest from being saved:</h2>
            <ul>
            <% @@access_request.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

          <%= f.label :name, "Nombre completo:" %>
          <%= f.text_field :name %>
          <%= f.label :email, "Correo electrónico:" %><small>* lo usaremos para contactar contigo</small>
          <%= f.text_field :email %>
          <%= f.submit "Enviar", :disable_with => 'Enviando...', :class => "medium radius button right" %>

      <% end %>
    </p>
  </div>
  
  <div class="six columns box  offset-by-one">
    <p class="info">
      Poniendo tu nombre y email nos ayudas a planificar todo con más anticipación. 
      También nos podremos poner en contacto contigo a través del correo para informarte de detalles o noticias que tengamos de interés para el evento.
    </p>
  </div>

</div>