<div class="row landing_info box">
  <div class="twelve columns centered">
    <%= image_tag "http://navidad.es/wp-content/uploads/2009/10/Gift-Box.png", style: "float:left; margin-top: 15px;" %>
    <p class="info" style="text-align: center;"> 
      <b><%= link_to "Ir a la lista de regalos boda", "http://pabloydeborah.zankyou.com/es", target: :blank %></b> <br />
      los regalos en Zankyo se pueden hacer de forma rápida y sencilla. <br />
      Por CC\ 0072 0132 57 0000105478 (Banco Pastor)
    </p> 
  </div>
</div>
<br />
<div class="row">
  <div class="six columns box">
    <p class="info">
      Gracias por estar aquí :) Estas son las cosas que podrás ver y hacer en la página:<br />
    </p>
    <ul>
      <li><%= link_to "Confirmar tu asistencia", confirmation_path %></li>
      <li><%= link_to "Conocer los detalles y horarios", weeding_path %></li>
      <li><%= link_to "Donde hospedaros esa noche", area_path %></li>
      <li><%= link_to "Escribir en el libro de visitas", messages_path %></li>
      <li><%= link_to "Nuestras preferencias con los regalos", "http://pabloydeborah.zankyou.com/es", target: :blank %></li>
    </ul>
    <p class="info">
      No dudéis en contactar con nosotros.
    </p>
  </div>
  
  <div class="six columns">
    <div id="featured" class="orbit">
      <%= image_tag "img2.jpg" %>
      <%= image_tag "img3.jpg" %>
      <%= image_tag "img4.jpg" %>
      <%= image_tag "img5.jpg" %>
      <%= image_tag "img6.jpg" %>      
    </div>
  </div>
</div>

<div class="row">
  <div class="twelve columns box">
    <p class="info">
      Dentro de poco iremos incluyendo mensajes y fotos de los preparativos, noticias y más cosas para que compartáis con nosotros esta experiencia al máximo.
    </p>    
  </div>
</div>
