<div class="row">
  <div class="six columns box">
    <p class="info">
      Gracias por estar aquí :)<br />
      En esta página podrás confirmar tu asistencia a la boda, agregar los datos de acompañante/s, conocer los horarios, toda la información del hotel etc... poco a poco iremos colgando algunas sorpresas, fotos de los preparativos. También podréis acceder a la lista de bodas en Zankyou, una forma fácil de escoger los regalos sin moverte de casa.
      <br />
      No dudéis en poneros en contacto con nosotros.
    </p>
  </div>
  
  <div class="six columns">
    <div id="featured">
      <%= image_tag "img2.jpg" %>
      <%= image_tag "img3.jpg" %>
      <%= image_tag "img4.jpg" %>
      <%= image_tag "img5.jpg" %>
      <%= image_tag "img6.jpg" %>      
    </div>
  </div>
</div>
