<!DOCTYPE html>
<html>
<head>
  <title>Boda de Déborah y Pablo :: 1 de Diciembre 2012</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>
<% if current_user %>
  <div class="row user_row">
    <div class="two columns offset-by-ten">
      <%= link_to "Cerrar Sessión".html_safe, destroy_user_session_path, :method => :delete %>
    </div>
  </div>
<% end %>

<%= yield %>

</body>
</html>